.video{
    width: 500px;
    height: 600px;

}


.menu {
    font-family: sans-serif;
    position: absolute;
    z-index: 10;
    top: 10px;
    list-style: none;
  
}

.map{
    width: 500px;
    height: 500px;
}


h3{
    padding-top: 400px;
    padding-left: 700px;
}

h4{
    padding-left: 700px;
}

img_1{
    width: 20px;
    height: 20px
}